.wrapper{
width: 800px;
margin: 0 auto;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px;
}
.imgs{
  display: grid;
  grid-template-columns: repeat(5,2fr);
  grid-gap:5px;
}
img{
  width: 100%;
  line-height: 1;
}
